# Terraform state files
*.tfstate
*.tfstate.*

# Terraform directory
.terraform/

# Terraform variable files
# *.tfvars
# *.tfvars.json

# Crash logs
crash.log

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json